@model List<CategoryListView>

@{
    ViewData["Title"] = "Kategori Listesi";
    Layout = "_Layout";
    int sayac = 1;
}



<section>
    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">CategoryId</th>
                <th scope="col">Şirket Adı</th>
            </tr>
        </thead>

        @{
            foreach (var item in Model)
            {

                <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">@sayac</th>
                        <td>@item.CategoryId</td>
                        <td>@item.CategoryName</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-primary">Düzenle</a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-success">Detaylar</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger">Sil</a>
                        </td>
                    </tr>

                </tbody>
                if (item != null)//yanındaki sayılarıa rtırmak için yaptık, eğerki sayac 0 değilse 1 artır dedik.
                {
                    sayac++;
                }

            }
        }


    </table>

</section>
